#mainContent {
  padding: 20px;
  margin-top: 80px;

  background-color: rgb(250, 240, 227);
}
#mainTitle {
  margin: auto;
  text-align: center;
  width: 60%;

  animation: fadeIn;
  animation-duration: 2s;

  font-family: "Manrope", sans-serif;
  font-weight: bolder;
  font-size: 3.5em;
  color: rgb(0, 0, 0);
}
#mainParagraph {
  text-align: center;
  margin: auto;
  width: 70%;
  margin-top: 10px;

  font-size: 1.3em;
}
#signupButton2 {
  margin: auto;
  margin-top: 20px;

  width: 140px;
  height: 44px;

  background-color: bisque;
  color: rgb(204, 77, 30);

  transition: 0.2s ease;
}
#signupButton2:hover {
  background-color: rgb(255, 214, 160);
}
/* cards */

#cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100;
  animation: gapless 1ms ease-in-out;
  animation-timeline: scroll();
}
.card {
  display: flex;
  flex-direction: column;

  height: 760px;
  width: 300px;
  margin-top: 60px;

  border-radius: 10px;
  background-color: rgb(145, 142, 142);

  animation: expanding 1ms ease-in-out forwards;
  animation-timeline: scroll();
  animation-range: normal 50%;
}
#card1 {
  background-color: rgb(155, 236, 247);
}
#card2 {
  background-color: bisque;
}
#card3 {
  background-color: rgb(255, 177, 8);
}
#card4 {
  background-color: pink;
}
@keyframes expanding {
  from {
    width: 300px;
  }
  to {
    width: calc(50vh - 10px);
  }
}
@keyframes gapless {
  from {
    gap: 20px;
  }
  to {
    gap: 5px;
  }
}
@keyframes minor {
  from {
    transform: scale(0.8);
    opacity: 0.9;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.number {
  display: flex;
  justify-content: start;
  margin: 20px;
  margin-top: 20px;
  margin-left: 27px;

  font-size: 3em;
  font-weight: 240;
}
#n1 {
  color: rgb(43, 174, 226);
}
#n2 {
  color: rgb(255, 189, 47);
}
#n3 {
  color: rgb(226, 128, 0);
}
#n4 {
  color: rgb(255, 122, 144);
}
.card h2 {
  justify-content: start;
  margin: 10px;
  margin-left: 17px;
  margin-bottom: 0;

  font-family: "Inter", sans-serif;
  font-weight: bolder;
  font-size: 3em;
  font-weight: 680;

  animation: minor 1ms ease-in-out forwards;
  animation-timeline: scroll();
  animation-range: normal 50%;
}
#cardDescription {
  width: 50%;
  margin-left: 20px;
  margin-top: 0;

  font-weight: 500;
}
#line {
  color: rgb(0, 153, 255);
  font-weight: bolder;
}
