body {
  gap: 0;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 5, 42.9);
}
body > * {
  font-family: "Inter", sans-serif;
}
#navbarContainer {
  background-color: rgb(6, 1, 48);
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
  border-bottom: 1px solid rgba(32, 32, 32, 0.377);
}
#navbarButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin-left: 23%;
}
#navbarButtons a {
  text-decoration: none;
  color: rgb(212, 212, 212);
  font-size: 0.85em;
  padding: 5px;
  border-bottom: 1px solid #8d20d1;
}
#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  gap: 7px;
  font-weight: bolder;
}
#logo span {
  color: #c15eff;
}
#loginButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-left: auto;
}
.loginButton {
  border: none;
  width: 80px;
  height: 30px;
  border-radius: 3px;
  font-size: 0.8em;
  font-family: "Inter";
}
#login {
  border: 1px solid rgb(85, 85, 85);
  background-color: rgb(5, 0, 48);
  color: rgb(231, 231, 231);
}
#signup {
  background-color: #8227e9;
  color: white;
}
